apiVersion: tekton.dev/v1
kind: Task
metadata:
  name: build-image
spec:
  params:
    - name: IMAGE
  workspaces:
    - name: source
  steps:
    - name: build
      image: gcr.io/kaniko-project/executor
      args:
        - --context=$(workspaces.source.path)
        - --dockerfile=Dockerfile
        - --destination=$(params.IMAGE)
